---
import Layout from '../layouts/Layout.astro';
import Nabvar from '../components/Nabvar.astro';
import AboutMe from '../components/AboutMe.astro';
---

<Layout title="Porfolio de Abel Haro Armero">
	<main>
		<Nabvar />
		<AboutMe />
	</main>
</Layout>
