---
import Layout from '../layouts/Layout.astro';
import Hero from '../sections/Hero.astro';
import AboutMe from '../sections/AboutMe.astro';
import PersonalInfo from '../sections/PersonalInfo.astro';
import Projects from '../sections/Projects.astro';
import Footer from '../sections/Footer.astro';
import Experience from '../sections/Experience.astro';
import Intro from '../sections/Intro.astro';
import Contact from '../sections/Contact.astro';
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t('page.index.title')}>
	<Intro/>
	<Hero />
	<main class="flex flex-col min-h-screen main-content">
		<PersonalInfo />
		<AboutMe />
		<Experience />
		<Projects/>
		<Contact/>
	</main>
	<Footer/>
</Layout>

<style>
	@font-face {
		font-family: 'RobotoSlab';
		src: url('/fonts/RobotoSlab-VariableFont_wght.ttf') format('truetype');
		font-weight: 100 900;
		font-style: normal;
	}
	
	html {
		font-family: 'RobotoSlab', sans-serif;
		scroll-behavior: smooth;
	}

	.main-content {
		/* Mobile-first approach */
		padding-left: 1rem;
		padding-right: 1rem;
	}

	/* Small mobile devices (320px and up) */
	@media (min-width: 320px) {
		.main-content {
			padding-left: 1.25rem;
			padding-right: 1.25rem;
		}
	}

	/* Large mobile devices (480px and up) */
	@media (min-width: 480px) {
		.main-content {
			padding-left: 2rem;
			padding-right: 2rem;
		}
	}

	/* Tablets (768px and up) */
	@media (min-width: 768px) {
		.main-content {
			padding-left: 4rem;
			padding-right: 4rem;
		}
	}

	/* Small laptops (1024px and up) */
	@media (min-width: 1024px) {
		.main-content {
			padding-left: 8rem;
			padding-right: 8rem;
		}
	}

	/* Large screens (1280px and up) */
	@media (min-width: 1280px) {
		.main-content {
			padding-left: 16rem;
			padding-right: 16rem;
		}
	}

	/* Extra large screens (1536px and up) */
	@media (min-width: 1536px) {
		.main-content {
			padding-left: 24rem;
			padding-right: 24rem;
		}
	}
</style>
