---
import Layout from '../layouts/Layout.astro';
import Hero from '../sections/Hero.astro';
import AboutMe from '../sections/AboutMe.astro';
import PersonalInfo from '../sections/PersonalInfo.astro';
import Projects from '../sections/Projects.astro';
import Footer from '../sections/Footer.astro';
import Experience from '../sections/Experience.astro';
import Intro from '../sections/Intro.astro';
import Contact from '../sections/Contact.astro';
---

<Layout title="Porfolio de Abel Haro Armero">
	<Intro/>
	<Hero />
	<main class="flex flex-col min-h-screen main-content">
		<PersonalInfo />
		<AboutMe />
		<Experience />
		<Projects/>
		<Contact/>
	</main>
	<Footer/>
</Layout>
<style>
	@font-face {
            font-family: 'RobotoSlab';
            src: url('/fonts/RobotoSlab-VariableFont_wght.ttf') format('truetype');
            font-weight: 100 900; /* Define el rango de pesos si es aplicable */
            font-style: normal;
        }
	html {
		font-family: 'RobotoSlab', sans-serif;
		scroll-behavior: smooth;
	}

    .main-content {
        padding-left: 24rem; /* 96 * 0.25rem if using Tailwind's default spacing scale */
        padding-right: 24rem;
    }

    /* Small screens (e.g., mobile phones) */
    @media (max-width: 768px) {
        .main-content {
            padding-left: 1rem; /* Example: 16px */
            padding-right: 1rem; /* Example: 16px */
        }
    }

    /* Medium screens (e.g., tablets) */
    @media (min-width: 769px) and (max-width: 1024px) {
        .main-content {
            padding-left: 4rem; /* Example: 64px */
            padding-right: 4rem; /* Example: 64px */
        }
    }
    /* Large screens (desktops) will use the initial padding-left/right: 24rem */
</style>