---
import Layout from '../layouts/Layout.astro';
import Hero from '../sections/Hero.astro';
import AboutMe from '../sections/AboutMe.astro';
import PersonalInfo from '../sections/PersonalInfo.astro';
import Projects from '../sections/Projects.astro';
import Footer from '../sections/Footer.astro';
import Experience from '../sections/Experience.astro';
---

<Layout title="Porfolio de Abel Haro Armero">
	<main>
		<Hero />
		<main class="flex flex-col min-h-screen px-96 mt-20">
			<PersonalInfo />
			<AboutMe />
			<Experience />
			<Projects/>
		</main>
		<Footer />
	</main>
</Layout>
<style>
	html {
		scroll-behavior: smooth;
	}
</style>