---
// Interface and props for the article container
interface ArticleContainerProps {
    articleId: string;
    title: string;
}
const { articleId, title } = Astro.props as ArticleContainerProps;
---

<article id={articleId} class="font-medium pt-24">
    <div class="flex flex-row gap-6 justify-between mt-3 pb-10 items-center">
        <hr class="custom-hr">
        <h2 class="text-4xl font-bold">{title}</h2>
        <hr class="custom-hr">
    </div>
    <slot />
</article>

<style>
    .custom-hr {
        border: none;
        height: 2px;
        background-color: #6366e6; /* Color for the horizontal line */
        opacity: 0.80;
        flex: 1; /* Allows the hr to expand and fill available space */
        }
</style>
