---
// Assuming this is your .astro file
import NavItem from "./NavItem.astro"
const navItems = [
    { href: "#home", text: "Home" },
    { href: "#aboutMe", text: "Sobre mí" },
    { href: "#experience", text: "Experiencia" },
    { href: "#projects", text: "Proyectos" },
    { href: "#contact", text: "Contacto" }
]
---

<style>
    nav#hero {
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0); /* Light background with transparency */
        -webkit-backdrop-filter: blur(10px); /* For Safari */
    }
</style>

<nav class="flex align-middle justify-center gap-10 text-xl py-3 font-bold sticky top-0 z-10" id="hero">
    {
        navItems.map((item) => 
        <NavItem href={item.href} text={item.text}></NavItem>)
    }
</nav>
