---
import { projects } from '../data/projects';
import IconPill from './IconPill.astro';
import ArticleContainer from './ArticleContainer.astro';
---
<ArticleContainer title="Proyectos">
    <ul>
        {projects.map((project) => (
          <li>
            <section class="flex flex-row p-10 border border-cyan-300">
                <div class="flex flex-col">
                    <h3>{project.title}</h3>
                    <p>{project.description}</p>
                    <div class="flex flex-row flex-wrap gap-3">
                      <IconPill>
                        <img src="/public/icons/react.svg" alt="React logo" width="30" height="30" />
                      </IconPill>
                    </div>
                    <a href={project.url} target="_blank" rel="noreferrer">View project</a>
                </div>
            </section>
          </li>
        ))}
      </ul>
</ArticleContainer>
  

