---
import TecnologyIcon from './TecnologyIcon.astro';
import GithubIcon from './icons/Github.astro';
import JavaIcon from './icons/Java.astro';
import SQLiteIcon from './icons/SQLite.astro';
import TypeScriptIcon from './icons/TypeScript.astro';
import AstroLogoIcon from './icons/AstroLogo.astro';
import ReactIcon from './icons/React.astro';
---

<div class="flex flex-row flex-wrap gap-3">
    <TecnologyIcon>
        <GithubIcon class="size-24" />
        <p>
            Github
        </p>
    </TecnologyIcon>
    <TecnologyIcon>
        <JavaIcon class="size-24" />
            <p>
                Java
            </p>
    </TecnologyIcon>       
    <TecnologyIcon>
        <SQLiteIcon class="size-24" />
        <p>
            SQLite
        </p>    
    </TecnologyIcon>
    <TecnologyIcon>
        <TypeScriptIcon class="size-24" />
        <p>
            TypeScript
        </p>
    </TecnologyIcon>
    <TecnologyIcon>
        <AstroLogoIcon class="size-24" />
        <p>
            Astro
        </p>
    </TecnologyIcon>
    <TecnologyIcon>
        <ReactIcon class="size-24" />
        <p>
            React
        </p>
    </TecnologyIcon>
</div>