---

---

<>
  <section>
    <p class="text-wrap text-base sm:text-lg leading-relaxed">
      Estudiante del Máster en Ingeniería de Computadores y Redes en la
      Universitat Politècnica de València. Apasionado por la tecnología y el
      desarrollo de aplicaciones, siempre estoy buscando aprender nuevas
      habilidades y mejorar mis conocimientos en el campo de la informática.
    </p>
  </section>

  <section class="gap-2 mt-6 sm:mt-8">
    <h4 class="text-xl sm:text-2xl mb-3">Educación</h4>
    <p class="text-base sm:text-lg">
      Máster en Ingeniería de Computadores y Redes en la Universitat Politècnica
      de València
    </p>
    <p class="text-xs sm:text-sm sm:text-left">Septiembre 2025 - actualidad</p>
    <p class="text-base sm:text-lg">
      Grado en Ingeniería Informática en la Universitat Politècnica de València
    </p>
    <p class="text-xs sm:text-sm sm:text-left">Septiembre 2021 - Julio 2025</p>
  </section>

  <section class="flex flex-col mt-6 sm:mt-8">
    <h4 class="text-xl sm:text-2xl mb-3">Idiomas</h4>
    <div class="space-y-2">
      <p class="text-base sm:text-lg">Español - Nativo</p>
      <p class="text-base sm:text-lg">Inglés - B2</p>
    </div>
  </section>
</>
