---
import Tecnologies from "./Tecnologies.astro"
import ArticleContainer from "../components/ArticleContainer.astro"
---

<ArticleContainer title="Sobre mí" articleId="aboutMe">
    <section>
        <p class="text-wrap text-lg sm:text-xl leading-relaxed">
            Estudiante de <span class="text-custom-blue font-semibold">Ingeniería Informática</span> en la mención de Ingeniería de Computadores, actualmente cursando el
            cuarto año con una <span class="text-custom-blue font-semibold">nota media de 8,5</span>. Sólida base teórica y habilidades técnicas en desarrollo de software y
            resolución de problemas. Capaz de aprender rápidamente, trabajar en equipo y enfrentar desafíos con
            creatividad y determinación.
        </p>
    </section>
    
    <section class="gap-2 mt-8 sm:mt-10">
        <h4 class="text-2xl sm:text-3xl mb-4">
            Educación
        </h4>
        <div class="flex flex-col sm:flex-row sm:justify-between sm:items-center gap-2 sm:gap-4">
            <p class="text-lg sm:text-xl">
                Grado en Ingeniería Informática en la Universitat Politècnica de València
            </p>
            <p class="text-lg sm:text-xl sm:text-right">
                Septiembre 2021 - Actualidad
            </p>
        </div>
    </section>
    
    <section class="flex flex-col mt-8 sm:mt-10">
        <h4 class="text-2xl sm:text-3xl mb-4">
            Idiomas
        </h4>
        <div class="space-y-2">
            <p class="text-lg sm:text-xl">
                Español - Nativo
            </p>
            <p class="text-lg sm:text-xl">
                Inglés - B2
            </p>
        </div>
    </section>
</ArticleContainer>
