---
import ArticleContainer from "../components/ArticleContainer.astro"
---

<ArticleContainer title="Sobre mí" articleId="aboutMe">
    <section>
        <p class="text-wrap text-lg sm:text-xl leading-relaxed">
            Estudiante del Máster en Ingeniería de Computadores y Redes en la Universitat Politècnica de València. Apasionado por la tecnología y el desarrollo de aplicaciones, siempre estoy buscando aprender nuevas habilidades y mejorar mis conocimientos en el campo de la informática.
        </p>
    </section>
    
    <section class="gap-2 mt-8 sm:mt-10">
        <h4 class="text-2xl sm:text-3xl mb-4">
            Educación
        </h4> 
            <p class="text-lg sm:text-xl">
                Máster en Ingeniería de Computadores y Redes en la Universitat Politècnica de València
            </p>
            <p class="text-xs sm:text-base sm:text-left">
                Septiembre 2025 - actualidad
            </p>
            <p class="text-lg sm:text-xl">
                Grado en Ingeniería Informática en la Universitat Politècnica de València
            </p>
            <p class="text-xs sm:text-base sm:text-left">
                Septiembre 2021 - Julio 2025
            </p>

    </section>
    
    <section class="flex flex-col mt-8 sm:mt-10">
        <h4 class="text-2xl sm:text-3xl mb-4">
            Idiomas
        </h4>
        <div class="space-y-2">
            <p class="text-lg sm:text-xl">
                Español - Nativo
            </p>
            <p class="text-lg sm:text-xl">
                Inglés - B2
            </p>
        </div>
    </section>
</ArticleContainer>
