---
import Tecnologies from "./Tecnologies.astro"
import ArticleContainer from "../components/ArticleContainer.astro"
---
<ArticleContainer title="Sobre mí" articleId="aboutMe">
    <section>
        <p class="text-wrap text-xl">
            Estudiante de <bold class="text-custom-blue">Ingeniería Informática</bold> en la mención de Ingeniería de Computadores, actualmente cursando el
            tercer año con una <bold class="text-custom-blue">nota media de 8,4</bold>. Sólida base teórica y habilidades técnicas en desarrollo de software y
            resolución de problemas. Capaz de aprender rápidamente, trabajar en equipo y enfrentar desafíos con
            creatividad y determinación.
        </p>
    </section>
    <section class="gap-2 mt-10">
        <h4 class=" text-3xl">
            Educación
        </h4>
        <div class="flex flex-row justify-between items-center">
            <p class="text-xl">
                Grado en Ingeniería Informática en la Universitat Politècnica de València
            </p>
            <p class="text-xl">
                Septiembre 2021 - Actualidad
            </p>
        </div>
    </section>
    <section class="flex flex-col mt-10">
        <h4 class=" text-3xl">
            Idiomas
        </h4>
        <p class="text-xl">
            Español - Nativo
        </p>
        <p class="text-xl mt-1">
            Inglés - B2
        </p>
    </section>
    <section class="mt-10">
        <h4 class=" text-3xl mb-3">
            Tecnologías utilizadas
        </h4>
        <Tecnologies />     
    </section>
</ArticleContainer>
 