---
import Tecnologies from "./Tecnologies.astro"
import ArticleContainer from "../components/ArticleContainer.astro"
const { t } = Astro.props;
---
<ArticleContainer title={t['about.title']} articleId="aboutMe">
    <section>
        <p class="text-wrap text-xl">
            {t['aboutMe.paragraph1_pt1']}<strong class="text-custom-blue">{t['aboutMe.paragraph1_highlight1']}</strong>{t['aboutMe.paragraph1_pt2']}
        </p>
    </section>
    <section class="gap-2 mt-10">
        <h4 class=" text-3xl">
            {t['aboutMe.educationTitle']}
        </h4>
        <div class="flex flex-row justify-between items-center">
            <p class="text-xl">
                {t['aboutMe.degree']}
            </p>
            <p class="text-xl">
                {t['aboutMe.degreeDatePrefix']} - {t['experience.present']}
            </p>
        </div>
    </section>
    <section class="flex flex-col mt-10">
        <h4 class=" text-3xl">
            {t['aboutMe.languagesTitle']}
        </h4>
        <p class="text-xl">
            {t['aboutMe.languageSpanish']}
        </p>
        <p class="text-xl mt-1">
            {t['aboutMe.languageEnglish']}
        </p>
    </section>
    <!-- <section class="mt-10">
        <h4 class=" text-3xl mb-3">
            Tecnologías utilizadas
        </h4>
        <Tecnologies />     
    </section> -->
</ArticleContainer>
 