---
const { t } = Astro.props;
const currentYear = new Date().getFullYear();
---
<footer class="mt-12 py-10">
    <div class="max-w-4xl items-center mx-auto text-center">
        <p class="text-gray-400 text-sm">
            {t['footer.copyright'] ? t['footer.copyright'].replace('{year}', currentYear) : `© ${currentYear} Abel Haro Armero. All rights reserved.`}
        </p>
    </div>
</footer>
