<section class="w-screen h-screen flex flex-col justify-center items-center -z-10 [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]">
    <h1 class="text-3xl pb-28">
        Abel Haro Armero, estudiante de Ingeniería Informática  en la Universidad Politécnica de Valencia.
    </h1>
    <button class="hover:bg-custom-blue text-white font-bold border border-custom-blue rounded w-96">
        <a href="#hero" class="block w-full h-full py-4 px-4 text-xl font-medium">Ver Porfolio</a>
    </button>
</section> 
