---
---

<section class="w-screen h-screen flex flex-col justify-center items-center -z-10 [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]">
    <h1 id="typewriter" class="text-3xl font-bold pb-28">
    </h1>
    <button class="hover:bg-custom-blue text-white font-bold border border-custom-blue rounded w-96">
        <a href="#home" class="block w-full h-full py-4 px-4 text-xl font-medium">Ver Porfolio</a>
    </button>
</section> 

<script>
    const words = ["Abel Haro Armero, estudiante de Ingeniería Informática  en la Universidad Politécnica de Valencia."];
    let i = 0;
    let j = 0;
    let currentWord = "";

    function type() {
      const typewriterElement = document.getElementById("typewriter");
      if (!typewriterElement) return;

      currentWord = words[i];
      typewriterElement.textContent = currentWord.substring(0, j + 1);
      j++;
      
      if (j === currentWord.length) {
        j = 0;
        i++;
        if (i === words.length) {
          return;
        }
      }
      setTimeout(type, 30);
    }

    type();
  </script>