<section class="grid grid-cols-2 text-xl font-medium">
    <div class="flex flex-row flex-initial">
        <!-- <img src="../../public/foto.webp" alt="Abel Haro Armero" class="rounded-sm w-1/4"/> -->
        <div class="flex flex-col flex-initial">
            <span class="text-2xl font-bold">
                Abel Haro Armero
            </span>
            <span>
                21 años
            </span>
            <span>
                Altea / Valencia
            </span>
        </div>
    </div>
    <div class="text-right flex flex-col">
        <a href="mailto:ahararm@upv.es" class="flex flex-row justify-end items-center gap-2">
            <span>ahararm@upv.es</span>
        </a>
        <a href="https://github.com/AbelHaro" class="flex flex-row justify-end items-center gap-2" target="_blank" rel="noreferrer">
            <img src="icons/github.svg" alt="github icon" class="size-5 hover:scale-110"/>
            <span>AbelHaro</span>
        </a>
        <a href="https://www.linkedin.com/in/abel-haro-54bb6518a" class="flex flex-row justify-end items-center gap-2" target="_blank" rel="noreferrer">
            <img src="icons/linkedin.svg" alt="linkedin icon" class="size-5 hover:scale-110"/>
            <span>Abel Haro</span>
        </a>

        
    </div>
</section>