---
// Importa tus datos de tecnologías
import { tecnologies } from '../data/tecnologies';
---

<style>
  /* Estilos personalizados para la animación */
  .parent-hover:hover .img-hover-color {
    filter: grayscale(0%);
  }

  .img-hover-color {
    filter: grayscale(100%);
    transition: filter 0.3s ease; /* Transición suave para el cambio de filtro */
  }
</style>

<div class="flex flex-row flex-wrap gap-4">
  {tecnologies.map((tecnology) => (
    <div class="parent-hover flex flex-col gap-1 border rounded-md p-3 items-center justify-between transform transition-transform duration-300 ease-in-out">
      <img src={tecnology.source} alt={tecnology.name} class="size-20 img-hover-color" />
      <p class="mt-2 text-base">
        {tecnology.name}
      </p>
    </div>
  ))}
</div>
